<div class="main" [style.background]="colour">
    <div class="display" fxLayout="column" fxLayoutAlign="start "  [style.background]="colour">

        <div class="title" fxLayout="column"  [style.background]="colour">
            <div>
                <input  class=text type="text" placeholder="title" [(ngModel)]="title"[style.background]="colour">
            </div>
            
            <div  [style.background]="colour">
                <input  class="notes" type="text" placeholder="take a notes"[(ngModel)]="description"[style.background]="colour">
            </div>
            
            <div   fxLayout="row" fxLayoutAlign="space-between center"[style.background]="colour">
                <app-icons  [notedata]="data" (changeNoteEvent)=" iconRefresh($event)"></app-icons>
                <button (click)="close()">close</button>
            </div>
           
        </div>
    </div>
</div>