<div class="main">
    <div class="display" fxLayout="column" fxLayoutAlign="start ">

        <div class="title" fxLayout="column" >
            <div>
                <input  class=text type="text" placeholder="title" [(ngModel)]="title">
            </div>
            
            <div  >
                <input  class="notes" type="text" placeholder="take a notes"[(ngModel)]="description">
            </div>
            
            <div   fxLayout="row" fxLayoutAlign="space-between center">
                <app-icons></app-icons>
                <button (click)="close()">close</button>
            </div>
           
        </div>
    </div>
</div>