.main{
    height:90vh;
    border: 1px solid rgb(234, 14, 14);
    padding:  50px 0px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 35%;
    height: 85%; 
    display: flex;
    padding:  30px 0px 100px 0px;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid grey;
      
}
.F{
    color:Blue;
    padding:40px 0px 0px 0px;
}
.u{
    color:rgb(234, 14, 14);
    padding:40px 0px 0px 0px;
}
.n{
    color:yellow;
    padding:40px 0px 0px 0px;
}
.d{
    color:blue;
    padding:40px 0px 0px 0px;
}
.o{
    color:green;
    padding:40px 0px 0px 0px;
}
.o{
    color:rgb(234, 14, 14);
    padding:40px 0px 0px 0px;
}
h3{
    padding-right: 150px;
}
.fields{
    padding-right: 150px;
}
.message,.lock,.question{
    color:blue;
}
button{
    float: right;
}