<div class="main" >
    <div class="container" fxLayout="column" fxLayoutAlign="space-around center">
     <div class="name" fxLayout="row" fxLayoutAlign="center center">
        <div class="F"><h1>F</h1></div>
        <div class="u"><h1>u</h1></div>
        <div class="n"><h1>n</h1></div>
        <div class="d"><h1>d</h1></div>
        <div class="o"><h1>o</h1></div>
        <div class="o"><h1>o</h1></div>
     </div>
     <div><h1>Change Password</h1></div>
          <form [formGroup]="reset" (ngSubmit)="onSubmit()" >
      <div class="label">
          <mat-form-field appearance="outline" style="width:380px ;">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="Password">
          </mat-form-field>
          <div class="label">
              <mat-form-field appearance="outline" style="width:380px ;">
                  <mat-label>ConformPassword</mat-label>
                  <input matInput placeholder="ConformPassword" formControlName="ConformPassword">
              </mat-form-field><span>
                  
              </span>
          </div>
            <button type=Submit class="button" mat-raised-button color="primary" >Next</button>
          </div>
  </form>
     </div>