.bell,.archive,.personadd,.unarchive,.pallette,.img,.more,.unarchive,.delete,.deleteforever{
    height: 20px;
    padding-left:10px;  
    box-sizing: border-box;
   display: flex;
-webkit-box-sizing: border-box;
}
::ng-deep .color-menu{
    width: 160px;
}
.allicons{

display: flex;
box-sizing: border-box;
-webkit-box-sizing: border-box;



}
