.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// .example-toolbar {
//   position: absolute;
//   z-index: 2;
// }

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
} 

.example-sidenav-container {
  flex: 1 0 auto;
}

.icon {
  width: 40px;
  height: 40px;
  user-select: auto;
}

mat-nav-list {
  width: 17vw;
}

.refresh {
  margin-left: 30px;
  padding: 0px 0px 0px 60px;
  height: 30px;
}

.view,
.settings {
  margin-left: 20px;
  height: 20px;
  width: 20px;
}

.apps {
  height: 30px;
  padding: 0px 0px 0px 50px;
}

.account {
  height: 30px;
  padding: 0px 0px 0px 20px;
}

.icons {
  height: 5vh;
 
}

.notes,
.remainder,
.label,
.archive,
.trash {
  padding-right: 40px;
}

.icon-sm,
.icon-xs {
  margin: 0%;
  width: 10%
}

.search {
  width: 50vw;
  margin-left: 30px;

}

#search {
  opacity: 0.8;
}
@media screen and (max-width: 900px) {
  mat-nav-list {
    width: 30vw;
  }
  
  .view {
    
    height: 20px;
   width: 20px;
   margin-left: 20px;
   
  }
}
@media screen and (max-width: 682px) {
  .search {
    width: 40vw;
    margin-right: 60px;
  }

  .view {
    
    height: 20px;
   margin-right: 40px;
   
  }
  .account {
    float:left;
    height: 30px;
    padding: 0px 0px 0px 22px;
  }

  .refresh,
  .settings,
  .apps {
    display: none;
  }
}

@media screen and (max-width: 667px) {
  .search {
    width: 40vw;
    
  }

  .view {

    height: 20px;
    padding-left: 10px;
  }

  .refresh,
  .settings,
  .apps {
    display: none;
  }
}

@media screen and(max-width:877px) {

  .view {
    width: 20px;
    height: 20px;
    padding-left: 10px;
  }
  mat-nav-list {
    width: 40vw;
  }
}
@media screen and(max-width:600px) {
  mat-nav-list {
    width: 40vw;
  }
}
@media screen  and (max-width: 428px){
  .search{
    width:20vw;
  }
  mat-nav-list {
    width: 60vw;
  }

}
@media screen  and (max-width: 320px){
  .search{
    width:10vw;
  }
  mat-nav-list {
    width: 60vw;
  }

}
@media screen  and (max-width: 270px){
  .account {
    height: 30px;
   
  }
  mat-nav-list {
    width: 60vw;
  }
}
