.display{
    
    border:2px solid transparent;
    overflow: hidden;
    display:flex;
    width: 17vw;
    height: 23vh;
   margin-left: 20px;    
    border: 1px solid grey;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
   flex-direction: column;
}
h3{
    width:100%;
    height: 30px;
    border-color: transparent;
    
}
h4{
    width:100%;
    height: 20px;
    border-color: transparent;
    padding:0px,0px,0px,50px;
}
h5{
    width:100%;
    height: 40px;
    font-size: medium;
    border-color: transparent;
}
p{
    width:100%;
    height: 30px;
    border-color: transparent;
}
.display2{
    overflow: hidden;
    display:flex;
    width: 35vw;
    height: 18vh;
    border-radius: 20px;
    border:2px solid transparent ;
    padding:10px ;
   flex-direction: column;
   margin-top: 30px;

}
.main2{
    // margin-left: 20px;
    
    height: 22vh;
    width: 37vw;
    margin:5px;
    border:1px solid  transparent;
    border: radius 10px;
    
}
.appicons{
    visibility: hidden;
}
.appicons2{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    margin: 0 8px;
    height:32px;
    width: 50px;
}
.display:hover .appicons{
    cursor: pointer;
    visibility: visible;   
}
.display2:hover .appicons2{
    cursor: pointer;
    visibility: visible;   
}
::ng-deep .my-custom-dialog-class {
    mat-dialog-container {
      padding: 0;
    }
  }
  @media screen  and (max-width: 667px){
    .display{
      width:70vw;
    }
}
  