.F{
    color:Blue;
    padding:40px 0px 0px 0px;
}
.u{
    color:rgb(234, 14, 14);
    padding:40px 0px 0px 0px;
}
.n{
    color:yellow;
    padding:40px 0px 0px 0px;
}
.d{
    color:blue;
    padding:40px 0px 0px 0px;
}
.o{
    color:green;
    padding:40px 0px 0px 0px;
}
.o{
    color:rgb(234, 14, 14);
    padding:40px 0px 0px 0px;
}
.N{
    color: blue;
    padding:40px 0px 0px 0px;
}
.t{
    padding:40px 0px 0px 0px;
    color:red;
}
.e{
    padding:40px 0px 0px 0px;
    color:yellowgreen;
}
.s{
    padding:40px 0px 0px 0px;
    color: green;
}
.container{
 
    width: 60vw;
    height: 110vh;   
    margin: 50px auto;
    border: 1px solid grey;
    padding:  50px 0px 0px 50px;
}

.right{
    height: 90vh;
    width: 40%;
    float: right;
    
}
.left{
 
    height: 70vh;
    width: 60%;
    float:left;
}
.image{
    height:40%;
    width: 70%;
}

span{
    color:blue;
}
.checkbox{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
