<div class="main">
    <div class="container" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="name" fxLayout="row" fxLayoutAlign="center center">
            <div class="F">
                <h1>F</h1>
            </div>
            <div class="u">
                <h1>u</h1>
            </div>
            <div class="n">
                <h1>n</h1>
            </div>
            <div class="d">
                <h1>d</h1>
            </div>
            <div class="o">
                <h1>o</h1>
            </div>
            <div class="o">
                <h1>o</h1>
            </div>
        </div>
        <div>
            <h1>Find Your Email</h1>
        </div><br>
        <span>Enter your phone number or recovery email</span>

        <form [formGroup]="email" (ngSubmit)="onSubmit()">
            <div class="label">
                <mat-form-field appearance="outline" style="width:380px ;">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput placeholder="Email" formControlName="Email">
                    <mat-error>enter valid Email</mat-error>

                </mat-form-field>
                
            </div>
            <button type="Submit" class="button" mat-raised-button color="primary"
                routerLink="/forgotpassword">Next</button>
        </form>
    </div>

</div>