
.main{
    height:90vh;
    border: 1px solid rgb(234, 14, 14);
    padding:  50px 0px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 35%;
    height: 85%; 
    display: flex;
    padding:  30px 0px 100px 0px;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid grey;
      
}
.F{
    color:Blue;
    padding:40px 0px 0px 0px;
}
.u{
    color:rgb(234, 14, 14);
    padding:40px 0px 0px 0px;
}
.n{
    color:yellow;
    padding:40px 0px 0px 0px;
}
.d{
    color:blue;
    padding:40px 0px 0px 0px;
}
.o{
    color:green;
    padding:40px 0px 0px 0px;
}
.o{
    color:rgb(234, 14, 14);
    padding:40px 0px 0px 0px;
}
.Signin{
    text-align: center;
   padding: 0px 0px 30px 0px;
}
p{
    padding: 30px 40px 0px 0px ;
}
.learn{
    color:blue;
    padding: 0px 320px 0px 0px ;
    
}
.account{
    color:blue;
    padding: 0px 220px 0px 0px ;
}
.button{
   float: right; 
    width: 6vw;
   
}
h4{
    color:blue;
}
.checkbox{
   
    padding: 0px 250px 100px 0px;
}
span{
 padding: 0px 0px 30px 0px ;
}